
<div id="footer" >
  <p>F5lab - Matteo Folin - C.F. FLNMTT72D29D530C - P.I. 01187110323</p>
	<a href="http://www.linkedin.com/in/matteofolin" ><img src="http://www.linkedin.com/img/webpromo/btn_liprofile_blue_80x15.gif" width="80" height="15" border="0" alt="View matteo folin's profile on LinkedIn"></a>
	<script type="text/javascript" charset="utf-8">
		//<![CDATA[
		emailE=('info@' + 'f5lab.com')
		document.write('<a href=“mailto:' + emailE + '”>' + emailE + '</a>')
		//]]>
	</script>
	<div class="clear"></div>
</div>

