<h2>Change password of <%= @user %></h2>
<div id="password_form">
  <fieldset>
    <legend>Please insert new password</legend>
    <% form_tag '/change_password' do %>
      <p>
        <label for="new_password">New password:</label>
        <%= password_field_tag :password %>
      </p>
      <p>
        <label for="new_password_confirmation">Confirm new password:</label>
        <%= password_field_tag :password_confirmation %>
      </p>
      <p>
        <%= submit_tag "Login" %>
      </p>
    <% end %>
  </fieldset>
</div>
